* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.contain-reset-pass-form {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
    position: relative;
}

#resetPassForm {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 30px 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

.fa-solid.fa-lock {
    margin: 10px 0;
    font-size: 60px;
}

#resetPassFormTitle {
    font-size: 30px;
    margin-top: 10px;
}

#btnConfirmResetPassword {
    margin-top: 16px;
    min-width: 280px;
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
}

#btnConfirmResetPassword:hover {
    background-color: #146bc9;
    cursor: pointer;
    transition: all linear 1s;
}

.form-group {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-group > i:first-child {
    margin-right: 10px;
}

.password-container {
    position: relative;
}

.password-container .toggle-password {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-container .toggle-password i {
    color: #333;
    display: none;
}

.password-container input[type="password"],
.password-container input[type="text"] {
    width: 100%;
    padding-right: 40px;
}

input[type="password"]::-ms-reveal {
    display: none;
}

body {
    font-family: 'Arial', sans-serif;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.validate-message {
    padding: 8px 6px;
    display: none;
    color: #fff;
    background-color: #ee7480;
    border-radius: 0.25em;
    transition: ease all 2s;
}

/* CSS for message box */

.contain-message-box {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    display: none;
}

.message-box {
    padding: 30px 40px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    animation: scaleUp 0.6s ease-in-out forwards;
}

@keyframes scaleUp {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

.fa-solid.fa-circle-check {
    font-size: 60px;
    color: #2d60d6;
    text-align: center;
}

.result-message-title {
    margin: 10px 0;
    color: #294bac;
    font-size: 30px;
    text-align: center;
}

.result-message-description {
    font-size: 15px;
    max-width: 220px;
    text-align: center;
}

#btnContinue {
    margin-top: 15px;
    border: none;
    outline: none;
    padding: 4px 6px;
    color: #fff;
    background-color: #2d60d6;
    border-radius: 10px;
}

#btnContinue:hover {
    background-color: #0f41b6;
    cursor: pointer;
    transition: all linear 0.5s;
}