<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="bookmark">
    <link rel="stylesheet" href="/css/personal_posts.css">
    <div>
        <h2>Your bookmarks</h2>
        <div class="posts">
            <div th:each="post : ${postList}" class="post" th:id="'post'+${post.articleID}">
                <div class="flex-space-between">
                    <a th:href="'/content?id='+${post.articleID}">
                        <h2 th:text="${post.title}"></h2>
                    </a>
                    <button th:attr="onclick=|handleRemoveBookmark(${post.articleID})|" id="removeBookmark" name="removeBookmark" type="button" class="btn btn-danger">Remove</button>
                </div>
                <div class="author-info d-flex align-items-center">
                    <a href="#">
                        <img
                                th:src="${post.user.avatarURL}"
                                alt="Avatar" class="avatar mr-2">
                    </a>
                    <a href="#">
                        <span class="author" th:text="${post.user.displayName}"></span>
                    </a>
                    <a th:href="@{/article(date=${post.createdAt})}" class="ml-auto">
                        <span th:text="${post.dateFormated}" class="date"></span>
                    </a>
                </div>
                <div class="tags mt-2" >
                    <a th:each="tag : ${post.tags}" href="#">
                        <span class="tag mr-1" th:text="${tag.tagName}"></span>
                    </a>
                    <!-- Add more tags here -->
                </div>
                <div class="metrics mt-2">
                    <span class="comments mr-3" th:text="${post.comments} + ' comment(s)'"></span>
                    <span class="votes" th:text="${post.votes} + ' vote(s)'"></span>
                </div>
            </div>
            <!-- Add more posts here -->
        </div>
    </div>
    <div id="messageBox" class="d-none"></div>
    <script src="/js/personalNavHandle.js"></script>
    <script src="/js/handleRemoveBookmark.js"></script>
</div>
</body>
</html>