<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="followedusers">
    <link rel="stylesheet" href="/css/personal_users.css">
    <div>
        <h2>Followed users go here</h2>
        <div class="flex-user-container">
            <div class="card mb-3" style="width: 16rem;" th:each="user : ${userList}" th:id="'user'+${user.UserID}">
                <div class="card-image-container">
                    <img th:if="${user.AvatarURL != null}" th:src="${user.AvatarURL}" class="card-img-top" alt="...">
                    <img th:unless="${user.AvatarURL != null}" src="https://res.cloudinary.com/ddczpe6gq/image/upload/v1716959781/modfziyc6jesknmgizok.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <a th:href="'/user?user='+${user.Username}"><h5 th:text="${user.DisplayName}" class="card-title"></h5></a>
                    <p th:text="'@'+${user.Username}" class="card-text"></p>
                    <button th:attr="onclick=|handleUnfollow(${user.UserID})|" class="btn btn-primary">Bỏ theo dõi</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/personalNavHandle.js"></script>
    <script src="/js/FollowedUser.js"></script>
</div>
</body>
</html>