<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="total_page" class="row" th:if="${totalPages > 1}">
        <div class="col-12">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                        <a class="page-link" th:href="@{${rout}(page=${currentPage - 1}, user=${username==null?'':username}, tagName=${param.tagName}, date=${param.date}, title=${param.title})}" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item" th:if="${currentPage > 1}">
                        <a class="page-link" th:href="@{${rout}(page=1, user=${username==null?'':username}, tagName=${param.tagName}, date=${param.date}, title=${param.title})}">First</a>
                    </li>
                    <li class="page-item" th:each="pageNum : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 > totalPages ? totalPages : currentPage + 2)}"
                        th:classappend="${pageNum == currentPage} ? 'active'">
                        <a class="page-link" th:href="@{${rout}(page=${pageNum}, user=${username==null?'':username}, tagName=${param.tagName}, date=${param.date}, title=${param.title})}" th:text="${pageNum}"></a>
                    </li>
                    <li class="page-item" th:if="${currentPage < totalPages}">
                        <a class="page-link" th:href="@{${rout}(page=${totalPages}, user=${username==null?'':username}, tagName=${param.tagName}, date=${param.date}, title=${param.title})}">Last</a>
                    </li>
                    <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                        <a class="page-link" th:href="@{${rout}(page=${currentPage + 1}, user=${username==null?'':username}, tagName=${param.tagName}, date=${param.date}, title=${param.title})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>