<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
<div th:fragment="unlogged_header">
    <link rel="stylesheet" th:href="@{css/header.css}">
    <header class="text-light bg-info py-3 header-shadow">
        <div class="container d-flex justify-content-between align-items-center">
            <a href="/" class="text-light logo">Web Logo</a>
            <nav>
                <ul class="list-unstyled d-flex m-0 align-items-center">
                    <li class="mr-3">
                        <form action="/article" method="get">
                            <div class="input-group">
                                <input type="text" name="title" class="form-control" placeholder="Search..." aria-label="Recipient's username"
                                       th:value="${title}"   aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary text-light" type="submit" id="button-addon2"><i
                                            class="fa-solid fa-magnifying-glass"></i></button>
                                </div>
                            </div>
                        </form>
                    </li>
                    <li class="mr-3"><a href="/login" type="button" class="btn btn-primary">Login</a></li>
                    <li class="mr-3"><a href="/signUp" type="button" class="btn btn-secondary">Sign up</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>
</body>
</html>