.personal-box-container {
    position: relative;
}

.personal-box {
    right: 0px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute !important;
    min-width: 255px;
    padding: 10px;
    transition: all ease-in 0.4s;
}

.personal-box-hide {
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
    opacity: 0;
}

.personal-icon {
    margin-right: 20px;
}

.avatar-with-name {
    display: flex;
    width: fit-content;
}

.profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.avatar-medium {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatar-small {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

header {
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Neo header ở trên cùng */
    top: 0;
    left: 0;
    right: 0;
    background-color: #007bff;
    z-index: 1000; /* Đảm bảo header hiển thị trên cùng */
}

.header-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo {
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}