/* styles.css */
/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Màu trắng là màu chủ đạo */
  }

  header {
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Neo header ở trên cùng */
    top: 0;
    left: 0;
    right: 0;
    background-color: #007bff;
    z-index: 1000; /* Đảm bảo header hiển thị trên cùng */
  }

  .header-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .logo {
    font-weight: bold;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    display: flex;
  }
  
  .posts {
    flex: 3;
    padding: 20px;
  }
  
  .post {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  
  .author-info {
    display: flex;
    align-items: center;
  }
  
  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .tags .tag {
    background-color: #f0f0f0;
    padding: 3px 8px;
    border-radius: 5px;
    margin-right: 5px;
  }
  
  .popular-tags {
    margin-top: 20px;
    flex: 1 1 0%;
    position: fixed;
    border: 1px solid rgb(204, 204, 204);
  }
  
  footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
  }
  
  