<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="/css/changePassword.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <!-- Header -->
    <div th:replace="fragments/logged_header :: logged_header"></div>
    <main class="bg-light">
        <div class="container-sm mb-3">
            <form class="modify-form border border-secondary rounded bg-white" action="/personal/modify/passwordprocess" method="post" th:object="${form}">
                <div class="mb-3">
                    <h1 class="card-title">Change password</h1>
                    <label for="oldPassword" class="form-label"><span class="text-danger">*</span> Old password</label>
                    <input class="form-control" type="password" id="oldPassword" name="oldPassword" th:field="*{oldPassword}" th:value="${form.oldPassword}"/>
                    <span th:if="${oldPasswordRequired != null}" class="text-danger">Field required.</span>
                    <span th:if="${oldPasswordMatched != null}" class="text-danger">Old password does not match.</span>
                </div>
                <div class="mb-3">
                    <label for="newPassword" class="form-label"><span class="text-danger">*</span> New password</label>
                    <input class="form-control" type="password" id="newPassword" name="newPassword" th:field="*{newPassword}" th:value="${form.newPassword}"/>
                    <span th:if="${newPasswordRequired != null}" class="text-danger">Field required</span>
                </div>
                <div class="mb-3">
                    <label for="repeatPassword" class="form-label"><span class="text-danger">*</span> Reenter your password</label>
                    <input class="form-control" type="password" id="repeatPassword" name="repeatPassword" th:field="*{repeatPassword}" th:value="${form.repeatPassword}"/>
                    <span th:if="${repeatPasswordRequired != null}" class="text-danger">Field required</span>
                    <span th:if="${newPasswordMatched != null}" class="text-danger">New password doesn't match</span>
                </div>
                <button type="submit" class="btn btn-primary">Change</button>
                <a href="/personal/modify" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </main>
    <script src="/js/header.js"></script>
</body>
</html>