<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Forum - Post detail</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/content.html.css}">
</head>

<body>
    <!-- Header -->
    <div th:if="${userInfo == null}">
        <div th:replace="fragments/unlogged_header :: unlogged_header"></div>
    </div>
    <div th:if="${userInfo != null}">
        <div th:replace="fragments/logged_header :: logged_header"></div>
    </div>

    <!-- Main Content -->
    <main class="py-5">
        <div class="container">
            <div class="row">
                <!-- Sidebar -->
                <div class="col-lg-2 sidebar">
                    <div class="d-flex flex-column align-items-center sticky-top">
                        <label id="upvote" for="isUpvote" th:classappend="${content.votedValue != null and content.votedValue == true} ? 'btn-success' : 'btn-outline-success' " class="btn mb-2"><i class="fa-solid fa-caret-up"></i></label>
                        <input id="isUpvote" class="d-none" type="checkbox" th:checked="${content.votedValue != null and content.votedValue == true}">

                        <span class="mb-2">
                            <span id="vote" th:text="${content.votes}"></span>
                        </span>

                        <label id="downvote" for="isDownvote" th:classappend="${content.votedValue != null and content.votedValue == false} ? 'btn-danger' : 'btn-outline-danger' " class="btn mb-2"><i class="fa-solid fa-caret-down"></i></label>
                        <input id="isDownvote" class="d-none" type="checkbox" th:checked="${content.votedValue != null and content.votedValue == false}">


                        <label id="bookmark" for="isBookmark" class="btn mb-2 btn-outline-primary">
                            <i id="bookmarkIcon" class="far fa-bookmark"
                               th:classappend="${content.isBookMark} ? ' fa-solid' : ''"></i>
                        </label>
                        <input id="isBookmark" class="d-none" type="checkbox" th:checked="${content.isBookMark}">

                    </div>
                </div>
                <!-- Content -->
                <div class="col-lg-9">
                    <article class="mb-5">
                        <h1 class="mb-3" th:text="${content.title}">Tiêu đề bài viết</h1>
                        <div class="d-flex align-items-center mb-3 sticky-top author-info">
                            <img th:src="${content.user.avatarURL}"
                                 alt="Avatar" class="avatar mr-3">
                            <div>
                                <input type="hidden" id="userIDofArticle" th:value="${content.user.userIdOfArticle}">
                                <span class="text-muted">Author: </span>
                                <a th:href="'/user?user='+${content.user.username}"><span th:text="${content.user.displayName}">Author Name</span></a>
                            </div>
                            <div class="ml-auto" th:if="${content.user.userIdOfArticle != userID}">
                                <label id="follow" for="isFollow" class="btn btn-primary"
                                       th:text="${content.isFollow ? 'Đã theo dõi' : 'Theo dõi'}"></label>
                                <input id="isFollow" class="d-none" type="checkbox" th:checked="${content.isFollow}"
                                       th:value="${content.isFollow}">
                            </div>

                        </div>
                        <p class="text-muted mb-4">Thời gian đăng bài viết: <span th:text="${content.dateFormated}"></span>
                        </p>

                        <p th:utext="${content.content}">
                            Nội dung bài viết...
                        </p>
                        <!--                         Next Posts-->
                        <div class="mt-4">
                            <h3>Bài viết tiếp theo</h3>
                            <div class="d-flex">
                                <div th:if="${nextArticle.size() == 0}">
                                    <p>Không có bài viết tiếp theo.</p>
                                </div>
                                <!-- Sample next post -->
                                <div class="card mb-3 next-post" th:each="articleItem : ${nextArticle}">
                                    <div class="card-body">
                                        <a th:href="@{/content(id=${articleItem.articleID})}">
                                            <h5 class="card-title" th:text="${articleItem.title}">Tiêu đề bài viết</h5>
                                        </a>
                                        <p class="card-text">Tác giả: <a th:href="'/user?user='+${articleItem.user.username}" th:text="${articleItem.user.displayName}">Author
                                            Name</a></p>
                                        <p class="card-text">
                                            <span th:text="${articleItem.votes}"></span>
                                            <span th:if="${articleItem.votes > 2}"> Votes</span>
                                            <span th:unless="${articleItem.votes > 2}"> Vote</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Bình luận -->
                        <div class="comments mt-4">
                            <h3>Bình luận</h3>
                            <!-- Form bình luận -->
                            <div>
                                <div class="form-group">
                                        <textarea id="commentContent" class="form-control" rows="3"
                                                  placeholder="Nhập bình luận của bạn"></textarea>
                                </div>
                                <button type="button" id="sendCommentButton" class="btn btn-primary">Gửi</button>
                            </div>
                            <!-- Danh sách bình luận -->
                            <div id="commentList" class="comment-list mt-3">

                                <div th:each="comment: ${comments}">
                                    <!-- Mỗi comment -->
                                    <div class="comment mb-3">
                                        <div class="d-flex align-items-center mb-3">
                                            <img th:src="${comment.user.avatarUrl}"
                                                 alt="Avatar" class="avatar mr-3">
                                            <div>
                                                <span class="font-weight-bold" th:text="${comment.user.displayName}">User Name</span>
                                            </div>
                                        </div>
                                        <p th:text="${comment.content}">Bình luận của người dùng...</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </article>
                </div>

            </div>

        </div>
    </main>

<!-- Footer -->
    <footer class="bg-dark text-light py-3">
        <div class="container">
            <p class="m-0">&copy; 2024 Blog Forum</p>
        </div>
    </footer>

    <!-- Bootstrap JS and custom JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script th:src="@{js/header.js}"></script>
    <script th:src="@{js/content.html.js}"></script>

</body>

    <div id="messageBoxForContentPage">
        <i class="fa-solid fa-circle-exclamation"></i>
        <div id="containMessageContent">
            <h5>Warning</h5>
            <p id="messageTitle">Vui lòng đăng nhập để thực hiện chức năng này</p>
        </div>
        <i class="fa-solid fa-xmark" id="btnCloseMessageBox"></i>
    </div>

</html>