<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Cá Nhân</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/personal.html.css">
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
    <!-- Header -->
    <div th:replace="fragments/logged_header :: logged_header"></div>

    <!-- Main Content -->
    <main class="py-5 pt-5">
        <div class="container">
            <!-- Profile Header -->
            <div class="profile-header d-flex justify-content-start">
                <div class="avatar-with-name">
                    <img th:src="${userInfo.AvatarURL}"
                        alt="Avatar" class="profile-avatar mr-3">
                    <div class="flex-column justify-content-start mr-5">
                        <h3 class="mt-3" th:text="${userInfo.DisplayName}"></h3>
                        <p class="text-muted" th:text="'@'+${userInfo.Username}"></p>
                    </div>
                </div>
                <a class="btn btn-primary btn-justify" href="/personal/modify">Sửa</a>
            </div>
            
            <!-- Navigation Bar -->
            <nav class="nav nav-pills justify-content-left mb-3 ">
                <a id="navPosts" class="nav-link" href="/personal/posts">Bài Viết</a>
                <a id="navBookmark" class="nav-link" href="/personal/bookmark">Bookmark</a>
                <a id="navFollowedPosts" class="nav-link" href="/personal/followedposts">Bài Viết Đang Theo Dõi</a>
                <a id="navFollowedUsers" class="nav-link" href="/personal/followedusers">Người Đang Theo Dõi</a>
                <a id="navFollowers" class="nav-link" href="/personal/followers">Người Theo Dõi</a>
            </nav>
            <!-- Content -->
            <div class="content" th:if="${nav == 'posts'}" th:include="fragments/personal/posts :: posts"></div>
            <div class="content" th:if="${nav == 'bookmark'}" th:include="fragments/personal/bookmark :: bookmark"></div>
            <div class="content" th:if="${nav == 'followedposts'}" th:include="fragments/personal/followed_posts :: followedposts"></div>
            <div class="content" th:if="${nav == 'followedusers'}" th:include="fragments/personal/followed_users :: followedusers"></div>
            <div class="content" th:if="${nav == 'follower'}" th:include="fragments/personal/followers :: followers"></div>


        </div>
    </main>

    <!-- Footer -->
    <footer class="bg-dark text-light py-3">
        <div class="container">
            <p class="m-0">&copy; 2024 Viblo Clone</p>
        </div>
    </footer>

    <!-- Bootstrap JS and custom JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/header.js"></script>
</body>

</html>
