<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/editor.css">
</head>
<body>
<div th:replace="fragments/unlogged_header :: unlogged_header"></div>
<main class="main-editor">
    <input id="articleTitle" type="text" class="form-control mb-3" placeholder="Enter article title" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group mb-3">
        <div class="form-control padding_0 flex-row">
            <div id="tagContainer" class="tag-container">

            </div>
            <div class="input-tag-container">
                <input type="text" id="inputTag" class="form-control tag-input" placeholder="Add your tag here. Maximum is 5 and minimum is 1. Tag begin with '#'." aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div id="scrollBar" class="scroll-bar scroll-bar-hide">
                </div>
                <input type="hidden" name="tagList" id="tagList">
            </div>
        </div>
        <div class="input-group-append">
            <button id="postArticle" class="btn btn-outline-secondary" type="button" >Post</button>
        </div>
    </div>
    <div id="container">
        <div id="editor">
        </div>
    </div>
</main>
<script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/super-build/ckeditor.js"></script>
<script src="/js/ckeditorSettup.js"></script>
<script src="/js/addTagHandeler.js"></script>
<script src="/js/handleSaveArticle.js"></script>
</body>
</html>
