<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" th:href="@{/css/user_css/forgot_password.css}">
    <title>Forgot password</title>
</head>

<body>
<div class="contain-forgot-pass-form">

    <form id="forgotPassForm" class="forgotPassForm" method="post" th:action="@{/forgotPassword}"
          th:object="${forgotPasswordForm}">
        <i class="fa-solid fa-lock"></i>

        <h2 class="forgotPassFormTitle">Forgot password?</h2>
        <span class="forgotPassFormDescription">You can reset your password here.</span>

        <div class="input-group mb-3">
            <input id="emailForgot" type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default" placeholder="Please enter email" autocomplete="email"
                   th:field="*{email}" th:value="${forgotPasswordForm.email}" name="email">
        </div>

        <div class="contain-token-value">
            <p id="tokenValueDescription">Enter the 6-digit authentication code</p>

            <div class="input-group mb-3 token-value-item disable">
                <input id="tokenValue" type="text" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-default" placeholder="Please enter authentication code"
                       th:field="*{tokenValue}" th:value="${forgotPasswordForm.tokenValue}" name="tokenValue">
                <span class="input-group-text" id="btnSendTokenValue"><i class="fa-solid fa-paper-plane"></i></span>
            </div>

        </div>

        <div class="form-group contain-validate-message">
            <span class="validate-message" th:if="${forgotPasswordMessage != null}"
                  th:text="${forgotPasswordMessage}"></span>
            <span class="validate-message" th:unless="${forgotPasswordMessage != null}">Message default</span>
        </div>

        <input type="submit" value="Reset password" class="forgot-pass-btn" id="btnResetPassword">
    </form>

</div>

<script th:src="@{/js/user_js/forgot_password.js}"></script>
</body>

</html>