<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" th:href="@{/css/user_css/reset_password.css}">
    <title>Reset password</title>

</head>

<body>
<div class="contain-reset-pass-form">
    <form action="" id="resetPassForm" method="post" th:object="${resetPasswordForm}" th:action="@{/resetPassword}">
        <i class="fa-solid fa-lock"></i>
        <h2 id="resetPassFormTitle">Reset password?</h2>

        <div class="form-group password-container">
            <i class="fa-solid fa-key"></i>
            <input type="password" class="form-control pass-event" id="password" name="password" autocomplete="current-password"
                   placeholder="Please enter password" oninput="togglePasswordIcon(this)"
                   th:field="*{password}" th:value="${resetPasswordForm.password}">
            <span class="toggle-password" data-target="#password" onclick="togglePasswordVisibility(this)">
                    <i class="fas fa-eye"></i>
                </span>
        </div>

        <div class="form-group password-container">
            <i class="fa-solid fa-key"></i>
            <input type="password" class="form-control pass-event" id="rePassword" name="re-password" autocomplete="current-password"
                   placeholder="Please re-enter password" oninput="togglePasswordIcon(this)"
                   th:field="*{rePassword}" th:value="${resetPasswordForm.rePassword}">
            <span class="toggle-password" data-target="#rePassword" onclick="togglePasswordVisibility(this)">
                    <i class="fas fa-eye"></i>
                </span>
        </div>

        <div class="contain-validate-message">
            <span class="validate-message" th:if="${resetPasswordMessage != null}" th:text="${resetPasswordMessage}"></span>
            <span class="validate-message" th:unless="${resetPasswordMessage != null}">Message default</span>
        </div>

        <input type="submit" value="Confirm" id="btnConfirmResetPassword">
    </form>

    <div class="contain-message-box">
        <div class="message-box">
            <i class="fa-solid fa-circle-check"></i>

            <span class="result-message-title">Success</span>

            <span class="result-message-description">Your password has been updated successfully!</span>

            <button id="btnContinue">Continue</button>
        </div>
    </div>
</div>


<script th:src="@{/js/user_js/reset_password.js}"></script>
</body>

</html>